@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.trans {
    transition: .09s linear;
}

.e-drag {
    -webkit-app-region: drag;
}

.e-nodrag {
    -webkit-app-region: no-drag;
}